<!DOCTYPE html>
<html>
<head>
    <title>GW2 item test page</title>
    <script type="text/javascript" src="~/GW2Scripts/Tester.js"></script>
</head>
<body>
    <div id="Outer">
        <input id="GW2SearchBox" />
        <div id="Results">
            <span id="item_id"></span>
            <span id="name"></span>
            <span id="description"></span>
            <span id="type"></span>
            <span id="level"></span>
            <span id="rarity"></span>
            <span id="vendor_value"></span>
            <span id="icon_file_id"></span>
            <span id="icon_file_signature"></span>
            <span id="default_skin"></span>
            <span id="game_types"></span>
            <span id="flags"></span>
            <span id="restrictions"></span>
        </div>
    </div>
</body>
</html>